# build objects
*.o
*.a
*.so
*.so.*
*.d
*.obj
*.lib
*.dll
*.exe
*.pdb
*.ilk

# local editor/cache
.cache/
.vscode/
.vscode-server/

# linux home junk accidentally copied
.bash_history
.bashrc
.profile
.gitconfig
.wget-hsts
.dotnet/